.profile{
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.profile > :first-child{
    font-size: 36px;
    color: #FFFFFF;
}
.form{
    display: flex;
    flex-direction: column;
}
.form > :first-child{
    margin-top: 26px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}
.form > :nth-child(2){
    height: 61px;
    border: 2px solid #CCCCCC;
    border-radius: 6px;
    background-color: #15202B;
    padding-left: 16px;
    margin-top: 5px;
    font-size: 16px;
    color: #FFFFFF;
}
.form > :nth-child(2)::placeholder{
    font-size: 16px;
    color: #FFFFFF;
}
.form > :last-child > :first-child{
    float: right;
    margin-top: 16px;
}