.tweet{
    padding: 20px;
    box-sizing: border-box;
    background-color: #343A40;
    border-radius: 6px;
    
}
.line{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #6C757D;
    margin-bottom: 16px;
}
.text{
    font-size: 14px;
    color: #FFFFFF;
}